@media all and (max-width: 992px) {
    .nav {
        top: 60px;
        left: 50%;
        transform: translate(-50%,-11%);
    }

    .header-border {
        width: calc(100% - 10px);
        height: calc(100% - 60px);
    }
}

