/* fonts */
body {
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

h3, 
h4,
.header-title p,
.bg,
.nav-logo a,
.shop .price {
    font-family: 'Frank Ruhl Libre', serif;
}

h2 {
    font-weight: 300;
}

.bg {
    font-weight: 900;
}

/* common */
h1 {
    color: #F5989D;
}

h2 {
    color: #F5989D;
    font-size: 24px;
    text-transform: uppercase;
}

h3 {
    color: #000;
    font-size: 36px;
}

button {
    background-color: #F5989D;
    color: #fff;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
}

.bg {
    font-size: 28em;
    color: #fff;
    text-shadow: 0px 0px 30px #eeeeee;
    margin-left: -16%;
}

.bg-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    z-index: -1;

}

.carousel-control-next .fas,
.carousel-control-prev .fas {
    font-size: 45px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: none;
}

/* header*/
.header {
    background-color: #252525;
    height: 100vh;
    padding: 24px;
    z-index: -2;
}

.header-border {
    position: relative;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #3B3B3B;
}

.nav {
    justify-content: center;
    background-color: #252525;
    width: 64%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav.bg-light {
    background-color: transparent!important;
}


.header .nav-item.active {
    color: #F5989D;
}

.header .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
}

.header .navbar-dark .navbar-nav .nav-link.disabled {
    color: #fff;
    font-size: 32px;
    margin-bottom: 7px;
}

.navbar-toggler {
    border: none;
}

.carousel {
    height: 100%;
}

.header .carousel-item>div {
    width: 500px;
    height: 300px;
    
}

.header .carousel-indicators {
    margin: 0;
    transform: translateY(50%);
}

.header .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 10px;
    transform: rotate(45deg);
}

.header .carousel-indicators li.active {
    background-color: #F5989D;
}

.header .carousel-inner,
.header .carousel-item,
.header .carousel-item>.d-block {
    height: 100%;
}

.header .d-block {
    position: relative;
}

.header .carousel-control-next .fas,
.header .carousel-control-prev .fas {
    font-size: 45px;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header-title p,
.header-title h1 {
    margin: 0;
    text-align: center;
}

.header-title p {
    color: #fff;
}

/* services */
.services {
    overflow-x: hidden;
}

.services-title {
    margin-top: 100px;
}

.services-title h2,
.services-title h3 {
    text-align: center;
}

.services-items {
    margin-top: 60px;
    margin-bottom: 90px;
}

.services-item {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.services-item1 {
    background-image: url("../img/services-item1.jpg");
}

.services-item2 {
    background-image: url("../img/services-item2.jpg");
}

.services-item3 {
    background-image: url("../img/services-item3.jpg");
}

.services-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(245,152,157,0.8);
    transition: all 0.6s ease;
    opacity: 0;
    padding-top: 60%;
    cursor: pointer;
}

.services-mask:hover {
    opacity: 1;
}

.services-mask>p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

/* albums */
.albums {
    overflow-x: hidden;
}

.albums .container-fluid {
    padding-right: 0;
}

.albums .container-fluid,
.albums .container-fluid .row {
    height: 100%;
}

.albums-title {
    text-align: right;
    padding: 0 17%;
}

.albums-items {
    height: 500px;
}

.albums-items>div {
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.albums-items .rectangle-horizontal {
    width: 50%;
    height: 33.33%;
    top: 0;
    left: 0;
}

.albums-items .rectangle-vertical {
    height: 66.66%;
    width: 25%;
    top: 0;
    right: 0;
}

.albums-items .square {
    width: 25%;
    height: 33.33%;
    animation: rotateMe;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.albums-items .square1 {
    animation-delay: 8s;
}

.albums-items .square2 {
    animation-delay: 4s;
}

.albums-items .square3 {
    animation-delay: 2s;
} 

.albums-items .square4 {
    animation-delay: 6s;
} 

@keyframes rotateMe {
    0% {
        transform: rotateY(0deg);
    }
    
    10% {
        transform: rotateY(360deg);
    }

    100%{
        transform: rotate(360deg);
    }


}

.albums-items .square-xl {
    width: 50%;
    height: 66.66%;
}

.rectangle-horizontal {
    background-image: url(../img/albums-1.png);
}

.rectangle-vertical {
    background-image: url(../img/albums-3.png);
}

.square1 {
    background-image: url(../img/albums-2.png);
    top: 0;
    right: 25%;
}

.square2 {
    background-image: url(../img/albums-4.png);
    left: 0;
    top: 33.33%;
}

.square3 {
    background-image: url(../img/albums-5.png);
    left: 0;
    bottom: 0;
}

.square4 {
    background-image: url(../img/albums-7.png);
    bottom: 0;
    right: 0;
}

.square-xl {
    background-image: url(../img/albums-6.png);
    bottom: 0;
    left: 25%;
}

/* toughts */
.thoughts {
    margin-top: 90px;
    margin-bottom: 90px;
    overflow-x: hidden;
}

.thoughts-title {
    text-align: center;
    margin-bottom: 70px;
}

.thoughts-item {
    background-color: #F2F2F2;
    padding: 40px;
}

.thoughts .carousel-control-prev i,
.thoughts .carousel-control-next i {
    color: #000;
}

.thoughts .carousel-control-prev {
    transform: translateX(-100%);
}

.thoughts .carousel-control-next {
    transform: translateX(100%);
}

/* about */
.about-item {
    height: 500px;
    width: 100%;
    background-color: #000;
}

.about-title {
    padding: 0 17%;
}